    <div class="row">
    	<div class="col-md-2">
		   <h2>backlog</h2>

           <div ng-repeat="card in backlogTickets" class="card col-md-6">
            value : {{card.value}} <br/>
            dev cost: {{card.devCost}}<br/>
            qa cost: {{card.qaCost}}<br/>
            <a href="#" ng-show="card.isReady()" class="btn btn-primary btn-xs" ng-click="card.pull()">pull</a>
          </div>
    	</div>

    	<div class="col-md-2">
			   <h2>dev in progress</h2>
    	</div>

    	<div class="col-md-2">
			<h2>dev done</h2>
    	</div>

    	<div class="col-md-2">
			<h2>test in progress</h2>
    	</div>

    	<div class="col-md-2">
			<h2>test done</h2>
    	</div>

    	<div class="col-md-2">
			<h2>live</h2>
    	</div>
    </div>