 
    <div class="row" style="margin-top:5em;margin-left:2em;">
        Day {{dayCount}}<br/>
        Tickets released {{live.length}}<br/>
        Cumulative Value {{cumulativeValue}}<br/>
        <a class="btn btn-primary" ng-click="newDay()">New Day</a>
    </div>

    <div class="row">
    	<div class="col-md-2">
		   <h2>backlog (2)</h2>
           <div ng-repeat="card in backlog" ng-include="'partials/card-detail.html'"></div>
    	</div>

    	<div class="col-md-2">
		   <h2>dev in progress (3)</h2>
           <div ng-repeat="card in devInProgress" ng-include="'partials/card-detail.html'">
           </div>
    	</div>

    	<div class="col-md-2">
			<h2>dev done
              <a ng-show="devDone.isReady()" class="btn btn-primary btn-xs" ng-click="devDone.pull()">pull</a>
            </h2>

           <div ng-repeat="card in devDone" ng-include="'partials/card-detail.html'">
           </div>

    	</div>

    	<div class="col-md-2">
			<h2>test in progress (1)</h2>
           <div ng-repeat="card in testInProgress" ng-include="'partials/card-detail.html'">
           </div>            
           <br/>
           <div class="col-md-6" ng-show="testInProgress.showExcessCapacity()">Excess Capacity : {{testInProgress.excessCapacity}}</div >
    	</div>

    	<div class="col-md-2">
			<h2>test done
              <a ng-show="testDone.isReady()" class="btn btn-primary btn-xs" ng-click="testDone.pull()">pull</a>
                      </h2>
           <div ng-repeat="card in testDone" ng-include="'partials/card-detail.html'">
           </div>    
    	</div>

    	<div class="col-md-2">
			<h2>live</h2>

           <div ng-repeat="card in live" ng-include="'partials/card-detail.html'">
    	</div>
    </div>
