 
<div class="row" style="margin-top:5em;margin-left:2em;">

  <ul style="list-style:none;">
    <li>Day {{dayCount}}</li>
    <li>Stories Released {{liveMetrics.storiesReleased}}</li>
    <li>Total Story Value {{liveMetrics.storyValueReleased}}</li>
    <li>Story Cumulative Value {{liveMetrics.cumulativeValue}}</li>
    <li>Bugs Fixed {{liveMetrics.bugsReleased}}</li>
  </ul>
  <p><a class="btn btn-primary" ng-click="newDay()">New Day</a></p>
        
</div>

<div class="row the-board">
	<div class="col-md-2">
   <h2>backlog <img src="/img/stickman.gif" /> <img src="/img/stickman.gif" /></h2>
   <p class="explanation">Tickets can be pushed into <em>dev in progress</em> if there is a spare dev to work on them</p>
       <div ng-repeat="card in backlog" ng-include="'partials/card-detail.html'"></div>
	</div>

	<div class="col-md-2">
   <h2>dev in progress 
    <img src="/img/stickman.gif" />
    <img src="/img/stickman.gif" />
    <img src="/img/stickman.gif" />
   </h2>
   <p class="explanation"></p>
       <div ng-repeat="card in devInProgress" ng-include="'partials/card-detail.html'">
       </div>
	</div>

	<div class="col-md-2">
	<h2>dev done
          <a ng-show="devDone.isReady()" class="btn btn-primary btn-xs" ng-click="devDone.pushToTest()">push to test</a>
        </h2>
          <p class="explanation"><em>dev done</em> is a single branch, a push moves all tickets here into test</p>
       <div ng-repeat="card in devDone" ng-include="'partials/card-detail.html'">
       </div>

      <div class="col-md-6">
       <p ng-show="board.canPullFromDevInProgress(0)">
        <a class="btn btn-primary btn-xs" ng-click="devDone.pull(0)">pull a</a> </p>


       <p ng-show="board.canPullFromDevInProgress(1)">
        <a class="btn btn-primary btn-xs" ng-click="devDone.pull(1)">pull b</a> </p>
        

       <p ng-show="board.canPullFromDevInProgress(2)">
        <a class="btn btn-primary btn-xs" ng-click="devDone.pull(2)">pull c</a> </p>
      </div>  

	</div>

	<div class="col-md-2 test-in-progress">
	<h2>test in progress <img src="/img/stickman.gif" /></h2>
  <p class="explanation"></p>
       <div ng-repeat="card in testInProgress" ng-include="'partials/card-detail.html'">
       </div>            
       <br/>
       <div ng-show="testInProgress.showExcessCapacity()">Excess QA Capacity<a ng-show="testInProgress.canUseExcessCapacity()" class="btn btn-primary btn-xs" ng-click="testInProgress.useExcessCapacity()">pull from dev done &amp; use</a>

       </div>
	</div>

	<div class="col-md-2 test-done">
	<h2>test done
          <a ng-show="testDone.isReady()" class="btn btn-primary btn-xs" ng-click="testDone.pull()">push to live</a>
                  </h2>
  <p class="explanation"><em>test in progress</em> and <em>test done</em> count as a single branch, all tickets must have their testing completed before the branch can be pushed to live</p>
       <div ng-repeat="card in testDone" ng-include="'partials/card-detail.html'">
       </div>    
	</div>

	<div class="col-md-2">
	<h2>live</h2>
  <p class="explanation">Tickets released to live generate their value every day</p>
       <div ng-repeat="card in live" ng-include="'partials/card-detail.html'">
	</div>

</div>
